<a href="https://colab.research.google.com/github/elbyvaz/data_engineering/blob/main/spark/dados_abertos_cnpj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# !pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=0245d1a172ebffa6f8caf1d98bf32bc57bc0a03dd1bc472c286e0109463a12d9
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
# using spark and veritying its version
from pyspark.sql import SparkSession

spark = SparkSession \
                    .builder \
                    .appName("Challenge: open data") \
                    .getOrCreate()

spark.version

'3.5.0'

In [69]:
# dataframe 1 -> 1.048.576
df_1 = spark.read.csv('/content/sample_data/estabelecimentos-1.csv', header=True, inferSchema=True)
df_1.count()

44937

In [56]:
df_1.printSchema()

root
 |-- CNPJ_BASICO;CNPJ_ORDEM;CNPJ_DV;IDENTIFICADOR_MATRIZ_FILIAL;NOME_FANTASIA;SITUACAO_CADASTRAL;DATA_SITUACAO_CADASTRAL;MOTIVO_SITUACAO_CADASTRAL;NOME_DA_CIDADE_NO_EXTERIOR;PAIS;DATA_INICIO_ATIVIDADE;CNAE_PRINCIPAL;CNAE_SECUNDARIA;TIPO_LOGRADOURO;LOGRADOURO;NUMERO;COMPLEMENTO;BAIRRO;CEP;UF;MUNICIPIO;DDD_1;TEL_1;DDD_2;TEL_2;DDD_FAX;FAX;CORREIO_ELETRONICO;SITUACAO_ESPECIAL;DATA_SITUACAO_ESPECIAL: string (nullable = true)

In [50]:
# dataframe 3
df_3 = spark.read.csv('/content/sample_data/estabelecimentos-3.csv', header=True, inferSchema=True)
df_3.count()

41477

In [57]:
df_3.printSchema()

root
 |-- CNPJ_BASICO;CNPJ_ORDEM;CNPJ_DV;IDENTIFICADOR_MATRIZ_FILIAL;NOME_FANTASIA;SITUACAO_CADASTRAL;DATA_SITUACAO_CADASTRAL;MOTIVO_SITUACAO_CADASTRAL;NOME_DA_CIDADE_NO_EXTERIOR;PAIS;DATA_INICIO_ATIVIDADE;CNAE_PRINCIPAL;CNAE_SECUNDARIA;TIPO_LOGRADOURO;LOGRADOURO;NUMERO;COMPLEMENTO;BAIRRO;CEP;UF;MUNICIPIO;DDD_1;TEL_1;DDD_2;TEL_2;DDD_FAX;FAX;CORREIO_ELETRONICO;SITUACAO_ESPECIAL;DATA_SITUACAO_ESPECIAL: string (nullable = true)

In [62]:
# dataframes have identical columns. If no, use withColumn() to rename
df_result = df_1.union(df_3)
df_result.count()

86414

In [67]:
# checking duplicated rows (df_result rows = distinct rows).
# df_result.printSchema()
df_result.select('CNPJ_BASICO;CNPJ_ORDEM;CNPJ_DV;IDENTIFICADOR_MATRIZ_FILIAL;NOME_FANTASIA;SITUACAO_CADASTRAL;DATA_SITUACAO_CADASTRAL;MOTIVO_SITUACAO_CADASTRAL;NOME_DA_CIDADE_NO_EXTERIOR;PAIS;DATA_INICIO_ATIVIDADE;CNAE_PRINCIPAL;CNAE_SECUNDARIA;TIPO_LOGRADOURO;LOGRADOURO;NUMERO;COMPLEMENTO;BAIRRO;CEP;UF;MUNICIPIO;DDD_1;TEL_1;DDD_2;TEL_2;DDD_FAX;FAX;CORREIO_ELETRONICO;SITUACAO_ESPECIAL;DATA_SITUACAO_ESPECIAL').distinct().count()

86414

In [ ]:
########## RDD #########################
def count_lines(file_name):
  """
  Count total lines of a file

  Args:
    file_name: the file

  Return:
    print total lines of afile
  """
  file_content = spark.sparkContext.textFile(file_name)
  print('Total lines of the file: {}'.format(file_content.count()))





# setting file 1
filename_1 = "/content/sample_data/estabelecimentos-1.csv"
count_lines(filename_1)



# setting file 2: very big to google colab (more than 2GB)
# filename_2 = "/content/sample_data/estabelecimentos-2.csv"
# count_lines(filename_2)



# setting file 3
filename_3 = "/content/sample_data/estabelecimentos-3.csv"
count_lines(filename_3)



# union: content of the files
rdd1 = spark.sparkContext.parallelize(filename_1)
rdd3 = spark.sparkContext.parallelize(filename_3)

rddUnion = rdd1.union(rdd3)
# rddUnion.collect()
print('Total lines after union: {}'.format(rddUnion.count()))



# rdd: clusters
# extracting the first element of each row
linesRdd = spark.sparkContext.textFile(filename)
print('Number of partitions: {}'.format(linesRdd.getNumPartitions()))